<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yugenapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/boladragon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/card_model"
        android:supportsRtl="true"
        android:theme="@style/Theme.YugenApp">
        <activity
            android:name=".splashActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".animeselect"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity_inicio"
            android:screenOrientation="portrait" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>